@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Grotesk:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap");

body {
  background-color: black;
  max-width: 1900px;
  height: 3000px;
  margin: 0;
  font-family: Oswald;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px 550px 150px 300px 400px 800px 200px 1000px 440px;
}
.header {
  grid-column: 1/5;
  grid-row: 1/2;
}
.header_container {
  gap: 140px;
  display: flex;
  align-items: center;
}
.header_container2 {
  align-items: start;
  position: fixed;
}
.logo {
  color: burlywood;
  display: flex;
  font-size: calc(8px + 19 * (100vw / 1500));
  letter-spacing: 6px;
  margin: 0px 0px 30px 0px;
  align-items: center;
  color: aliceblue;
}
.logo2 {
  color: burlywood;
  display: flex;
  font-size: calc(8px + 14 * (100vw / 1500));
  letter-spacing: 6px;
  margin: 0px 0px 20px 0px;
  align-items: center;
  color: aliceblue;
}
.logo h1 {
  background-color: rgba(0, 0, 0, 0.727);
  animation: shadow1 2s ease infinite;
}
@keyframes shadow1 {
  50% {
    box-shadow: 0px 0px 18px burlywood;
  }
  80% {
  }
}
.logo::before {
  flex: 0 0 70px;
  content: "";
  margin: 0px 30px 0px 0px;
  background-color: antiquewhite;
  height: 5px;
  animation: shadow 2s ease infinite;
}

@keyframes shadow {
  50% {
    box-shadow: 0px 0px 18px white;
  }
  80% {
  }
}
.Menu {
  padding-right: 100px;
  display: block;
}
.Menu ul {
  background-color: rgba(0, 0, 0, 0.795);
  font-size: calc(4px + 27 * (100vw / 1500));
  display: flex;
  gap: 110px;

  color: aliceblue;
  list-style-type: none;
}
.Menu ul li {
  border-block-start: solid burlywood;
}
.Menu ul li:hover {
  border-block-start: none;
  border-block-end: solid burlywood;
  cursor: pointer;
}
.Menu ul li:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Menu ul li:first-child:hover {
  border-block-start: none;
  cursor: pointer;
}
.search {
  border-radius: 30px;
}

.Menu2 {
  display: none;
}
.leave {
  display: none;
  border-color: burlywood;
  z-index: 6;
  height: 80px;
  position: fixed;
  top: -1200px;
  left: 500px;
  transition: 1.2s;
}
.leave.activ {
  top: 120px;
}
.leave_conteiner {
  animation: shadow1 4s ease infinite;
  opacity: 90%;
  border-radius: 40px;
  text-decoration: none;
  color: black;
  padding: 80px;
  font-size: 60px;
  background: rgb(0, 0, 0);
}
.leave_conteiner a {
  text-decoration: none;
  color: aliceblue;
}
.leave_conteiner ul {
  padding: 10px;
  list-style-type: none;
}
.leave_conteiner ul li {
  padding-top: 80px;
  color: burlywood;
}
.leave_conteiner ul li :hover {
  color: burlywood;
}
.container_menu {
  border-radius: 20%;
  padding: 50px;
  background-color: burlywood;
}
.container_menu:hover {
  padding: 55px;
  cursor: pointer;
  background-color: rgb(221, 168, 100);
  transform: rotate(90deg);
}
.content {
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 400px;
  margin-bottom: 600px;
}
.content ul {
  box-shadow: 3px 3px 3px white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 40 * (100vw / 1500));
}
.content ul li {
  margin-top: 40px;
  background-color: rgb(165, 132, 89);
  padding: 40px;
}
.container_menu span {
  display: block;
  padding-top: 6px;
  margin: 5px;
  padding-bottom: 6px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: black;
}

.all{
  grid-column: 1/5;
  grid-row: 2/3;
}

#slider { /*положение слайдера*/
  position: relative;
  text-align: center;
  top: 10px;
}

#slider{ /*центровка слайдера*/
margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
width: 13%;
margin-left: 27px;
float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
width: 235%;
line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
width: 100%;
overflow: hidden;
}

article img{ /*размер изображений слайдера*/
width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
max-width: 960px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
background: url('image/left.png') no-repeat; /*заливка фона картинкой без повторений*/
float: left;
margin: 0 0 0 -84px; /*сдвиг влево*/
display: block;
height: 68px;
width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
background: url('image/right.png') no-repeat; /*заливка фона картинкой без повторений*/
float: right;
margin: 0 -84px 0 0; /*сдвиг вправо*/
display: block;
height: 68px;
width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
margin-left: 0;
}

#switch2:checked ~ #slides .image{
margin-left: -100%;
}

#switch3:checked ~ #slides .image{
margin-left: -200%;
}

#switch4:checked ~ #slides .image{
margin-left: -300%;
}

#switch5:checked ~ #slides .image{
margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
margin: -25% 0 0 0;
width: 100%;
height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
border-radius: 10px; /*скругление углов*/
display: inline-block; /*расположение в строку*/
width: 10px;
height: 10px;
margin: 10px;
background: #bbb;
}

#active{ /*расположение блока с переключателями*/
margin: 23% 0 0;
text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
background: burlywood;
border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
background: burlywood;
border-color: burlywood!important;
}

#slides .image{ /*анимация пролистывания изображений*/
transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
transition: opacity 0.2s ease-out;
}



.item_container {
  z-index: 5;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 30px;
  background-color: rgba(47, 43, 43, 0.722);
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  grid-column: 1/5;
  grid-row: 3/5;
}
.Image_text {
  gap: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Image_text p {
  color: white;
  font-size: calc(10px + 15 * (100vw / 1500));
}
.Image_text img {
  animation: shadow1 5s ease infinite;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 50px;
  border-radius: 30%;
  border: 2px solid;
  width: 100%;
}
.shoes img {
  grid-column: 1/3;
  grid-row: 3/5;
  animation: shadow1 5s ease infinite;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid;
  max-width: 100%;
  display: none;
}
.Image_text img:hover {
  border: 1px solid white;
  transform: scale(1.1);
  cursor: pointer;
}
.Scroll {
  background-color: aliceblue;
  height: 200px;
  width: 200px;
}
.Title {
  color: white;
  text-align: center;
  font-size: 45px;
}
.Catalog {
  grid-column: 1/5;
  grid-row: 5/7;
}
.Attributes1 {
  padding-top: 160px;
  align-items: start;
  display: flex;
  margin: 50px;
  gap: 20px;
  justify-content: space-between;
}
.column1 p {
  text-align: center;
  color: burlywood;
  font-size: 28px;
}
.column1 img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.basement {
  box-shadow: 0px 0px 68px burlywood;
  grid-column: 1/5;
  grid-row: 9/10;
  background-color: burlywood;
}
.info {
  margin: 20px;
  justify-content: center;
  gap: 140px;
  display: flex;
}
.Contact {
}
.Contact ul {
  text-align: center;
  list-style-type: none;
  color: aliceblue;
  font-size: calc(20px + 30 * (100vw / 1500));
}
.Contact ul li a i:hover {
  transform: scale(1.3);
}
.Contact ul i {
  color: aliceblue;
}
@media (max-width: 1400px) {
  .Image_text img {
    animation: shadow1 5s ease infinite;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid;
    height: 300px !important;
    width: 300px !important;
  }
}
.number {
  margin-top: 50px;
  font-size: 16px;
  color: black;
  animation: color-change 2s ease infinite;
}

@keyframes color-change {
  50% {
    color: rgb(255, 255, 255);
  }
  80% {
    color: black;
  }
}
@media (max-width: 1020px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: 500px 700px 900px 800px;
    text-align: center;
  }
  .Image_text img {
    display: none;
  }
  .shoes img {
    padding-right: 50px;
    border-radius: 30%;
    font-size: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1/3;
    grid-row: 3/4;
    animation: shadow1 5s ease infinite;
    padding-top: 10px;
    padding-bottom: 10px;

    border: 2px solid;
    max-width: 100%;
    display: block;
  }
}
@media (max-width: 890px) {
  .leave {
    display: inline;
    border-color: burlywood;
    z-index: 6;
    height: 80px;
    position: fixed;
    top: -1200px;
    left: 500px;
    transition: 1.2s;
  }
  .logo {
    color: burlywood;
    display: flex;
    font-size: calc(8px + 50 * (100vw / 1500));
    letter-spacing: 8px;
    margin: 0px 0px 30px 0px;
    align-items: center;
    color: aliceblue;
  }
  .header_container {
    gap: 600px;
    display: flex;
    align-items: center;
  }
  .header_container2 {
    align-items: center;
    position: fixed;
  }
  .Menu2 {
    left: 900px;
    display: block;
  }

  .Menu {
    padding-right: 100px;
    display: none;
  }
  .Image_text p {
    color: white;
    font-size: 50px;
  }
}

.btn-up {
  z-index: 9;
  position: fixed;
  background-color: burlywood;
  right: 20px;
  bottom: 20px;
  border-radius: 22px;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.btn-up::before {
  content: "";
  text-align: center;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
}
